
       <div class="row">
        <div class="col-md-5">
          <input class="form-control" name="name" [(ngModel)]="newTodo.name" placeholder="Название" />
        </div>
        <div class="col-md-5">
          <input class="form-control" name="description" [(ngModel)]="newTodo.description" placeholder="Описание" />
        </div>
        <div class="col-md-2">
          <button type="button" [disabled]="!todoService.validate(newTodo)" class="btn btn-primary btn-block"
            (click)="save()">Добавить</button>
        </div>
      </div>
       
    
